/* 추가 스타일이 필요하면 이곳에 정의합니다. */
/* 대부분의 스타일은 Tailwind로 처리되므로 현재 이 파일은 거의 비어있습니다. */
section.wrapper-content {
  @apply w-full px-10 py-20;
  div.content {
    @apply max-w-[1400px] mx-auto;
  }
  h2.title {
    @apply text-5xl font-bold;
  }
}
